.cardContener{
    width: 100vw;
    height: 100vh;

    .popular-article {
        font-size: 1.5em;
        text-shadow: 2px 2px 5px gray;
        font-weight: bold;
        box-shadow:  16px 10px 1px rgba(0, 0, 255, .2);
        background-color: red;
      }

    .cardContener {
        margin:16px;
        width: 400px;
        height:500px;
        border: 2px rgb(0, 51, 255) solid;
        padding:6px;
        display: flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
    
            h1 {
                font-size: large;
                text-align: center;
            }
    
            p {
                text-align: justify; 
            }    
    }
}