.homeContener{
    width: 100vw;
    height: 100vh;

    button {
        height: 50px;
        width: 150px;
        padding: 2px;
        margin-bottom: 50px;
        border: none; 
        background-color: #007bff;  
        color: white;  
        font-size: 16px; 
        border-radius: 5px;  
        cursor: pointer;  
    }
}


