<div class="homeContener">
        <h1>{{title}}</h1>
        <a [routerLink]="['/contact']"><h2>Contact</h2></a>
        <a [routerLink]="['/register']"><h2>S'inscrire</h2></a>
        <p>{{notificationLikefromArticle}}</p>
        <div class="cardsList">
            @if(ArticlePublished()){

                

                @for (article of articles;track $index){
                    
                    <app-article-component (notifyLike)="HandlenotificationLikefromArticle($event)" [article]="article"></app-article-component>
                }  
            } @else{

                <p>Aucun article publié pour le moment</p>
            }
            <!-- <app-article-component></app-article-component> -->
        </div>
</div>


