<form #contactForm="ngForm" (ngSubmit)="contactForm.valid && onSubmit(contactForm)">

    <fieldset class="nameContener">
        <label for="lastname" >Nom</label>
        <input id="lastname" type="text" [(ngModel)]="newContact.lastname" #lastname="ngModel" name="lastname" required minlength="2" maxlength="5"><br>
    
        @if(lastname.errors){
        <div>
            @if(lastname.errors['required'] && contactForm.submitted){
                <span>Le {{labels.lastname}} est requis</span>
            }

            @if(lastname.errors['minlength'] && contactForm.submitted) {
                <span>Le {{labels.lastname}} doit comporter au moins 2 caractères</span>
            }

            
            @if(lastname.errors['maxlength'] && contactForm.submitted){
                <span>Le {{labels.lastname}} ne doit pas dépasser 15 caractères</span>
            }

        </div>
        }
        
        
        <label for="firstname">Prénom</label>
        <input id="firstname" type="text" [(ngModel)]="newContact.firstname" #firstname="ngModel" name="firstname" required minlength="2" maxlength="15">
        @if(firstname.errors){
            <div>
                @if(firstname.errors['required'] && contactForm.submitted){
                  <span>Le {{labels.firstname}} est requis</span>
                }
    
                @if(firstname.errors['minlength'] && contactForm.submitted){
                    <span>Le {{labels.firstname}} doit comporter au moins 2 caractères</span>
                }
    
                
                @if(firstname.errors['maxlength'] && contactForm.submitted){
                    <span>Le {{labels.firstname}} ne doit pas dépasser 15 caractères</span>
                }
    
            </div>
            }
    
    </fieldset>
    <fieldset>
        <label for="email">Email</label>
        <input id="email" type="email" [(ngModel)]="newContact.email" #email="ngModel" name="email" required email>
        @if (email.errors) {
            <div>
              @if (email.errors['required'] && contactForm.submitted) {
                <span>L'email est requis</span>
              }
              @if (email.errors['email'] && contactForm.submitted) {
                <span>L'email est invalide</span>
              }
            </div>
          }
    </fieldset>
    <button type="submit">Envoyer</button>
</form>
