.cardContener {
    width: 400px;
    height:500px;
    border: 2px rgb(0, 51, 255) solid;
    padding:6px;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;

        h1 {
            font-size: large;
            text-align: center;
        }

        p {
            text-align: justify; 
        }    
}